* {
    box-sizing: border-box;
}

:root {
    --text-color-1: #464646;
    --text-color-2: #A2A2A2;
    --color-blue: #2A7AE4;
    --bg-color-1: #F5F5F5;
    --bg-color-2: #EAF2FD;
    --bg-color-3: #FFF;
}

.root {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--text-color-1);
    background-color: var(--bg-color-1);
}

.menu-principal {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 152px;
    top: 0;
    & .logo {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 8px;
        & p {
            font-size: 16px;
            font-weight: 700;
            line-height: 18.78px;
            text-align: left;
            text-wrap: nowrap;
        }
        & > ion-icon {
            font-size: 24px;
            color: var(--text-color-1);
        }
    }
    & nav {
        width: 642px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 32px;
        & :nth-child(6) {
            font-weight: 700;
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 88px;
    gap: 32px;
    & > :nth-child(even) {
        background-color: var(--bg-color-2);
    }
    & > section {
        width: 100%;
        padding: 0 152px;
        & h2 {
            font-size: 32px;
            font-weight: 700;
            line-height: 37.57px;
            text-align: center;
        }
    }
}

#apresentacao {
    height: 368px;
    display: flex;
    gap: 16px;
    & .apresentacao-descricao {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & h1 {
            font-size: 48px;
            font-weight: 700;
            line-height: 60px;
            text-align: left;
        }
        & p {
            font-size: 22px;
            font-weight: 400;
            line-height: 25.83px;
            text-align: left;
        }
        & ul {
            width: 100%;
            display: flex;
            gap: 32px;
            & li {
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 16px;
                font-weight: 500;
                line-height: 18px;
                text-align: left;
                cursor: pointer;
                & ion-icon {
                    rotate: -45deg;
                }
            }
        }
    }
    & > img {
        width: 368px;
        height: 368px;
        border-radius: 50%;
    }
}

#sobre-mim {
    display: flex;
    flex-direction: column;
    padding: 62px 152px;
    gap: 16px;
    & h2 {
        text-align: left;
    }
    & p {
        max-width: 80%;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.78px;
        text-align: left;
    }
}

#skills-hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .skills, .hobbies {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        & ul {
            display: flex;
            gap: 16px;
            & li {
                width: 176px;
                height: 176px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                padding: 16px;
                gap: 8px;
                background-color: var(--bg-color-3);
                & ion-icon {
                    color: var(--color-blue);
                    font-size: 32px;
                }
                & p {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 18.78px;
                    text-align: left;
                }
            }
        }
    }
    & .hobbies {
        margin: 88px 0;
    }
}

#formacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 82px 152px;
    gap: 32px;
    & ul {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        & li {
            display: flex;
            flex-direction: column;
            width: 368px;
            gap: 8px;
            & div {
                height: 286px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--bg-color-3);
                padding: 16px;
                & img {
                    width: 190px;
                }
            }
            & p:nth-child(2) {
                font-size: 22px;
                font-weight: 700;
                line-height: 25.83px;
                text-align: left;
            }
            & p:nth-child(3) {
                font-size: 16px;
                font-weight: 500;
                line-height: 18.78px;
                text-align: left;
            }
        }
    }
}

#projetos {
    display: flex;
    flex-direction: column;
    & ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        & li {
            width: 100%;
            display: flex;
            margin: 32px 0;
            gap: 16px;
            & img {
                width: 752px;
            }
            & > div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 8px;
                font-size: 16px;
                font-weight: 500;
                line-height: 18.78px;
                text-align: left;
                & p:nth-child(1) {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 25.83px;
                }
                & div {
                    display: flex;
                    gap: 16px;
                    & button {
                        width: max-content;
                        height: 51px;
                        padding: 16px;
                        cursor: pointer;
                        border: 1px solid var(--color-blue);
                        color: var(--color-blue);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 18.78px;
                        text-align: left;
                    }
                    & button:nth-child(even) {
                        background-color: var(--color-blue);
                        color: var(--bg-color-3);
                    } 
                } 
            }
        }
        & li:nth-child(even){
            flex-direction: row-reverse;
        }
    }
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 128px 152px 64px 152px;
    & form {
        width: 656px;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        gap: 32px;
        & div {
            display: flex;
            flex-direction: column;
            gap: 8px;
            & input, textarea {
                width: 100%;
                height: 56px;
                padding: 8px;
                border-radius: 4px;
                &::placeholder {
                    color: var(--text-color-2);
                }
            }
            & textarea {
                min-width: 100%;
                max-width: 100%;
                min-height: 132px;
                max-height: fit-content;
            }
        }
        & .enviar {
            width: max-content;
            height: 51px;
            padding: 16px;
            cursor: pointer;
            background-color: var(--color-blue);
            color: var(--bg-color-3);
            font-size: 16px;
            font-weight: 400;
            line-height: 18.78px;
            text-align: left;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 32px 0;
    background-color: var(--bg-color-3);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: center;
}