* {
    box-sizing: border-box;
}


:root {
    --text-color-1: #464646;
    --bg-color-1: #F5F5F5;
    --bg-color-2: #EAF2FD;
}

.root {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-color-1);
}

.menu__principal {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 152px;
    top: 0;
    color: var(--text-color-1);
    & .logo {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 16px;
        & p {
            font-size: 16px;
            font-weight: 700;
            line-height: 18.78px;
            text-align: left;
            text-wrap: nowrap;
        }
        & img {
            width: auto;
            height: fit-content;
        }
    }
    & nav {
        width: 642px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 32px;
        & :nth-child(6) {
            font-weight: 700;
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 88px;
    gap: 32px;
    & #apresentacao {
        width: 100%;
        height: 368px;
        padding: 0 152px;
        display: flex;
        & .apresentacao__descricao {
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & h1 {
                font-size: 48px;
                font-weight: 700;
                line-height: 60px;
                text-align: left;
            }
            & p {
                font-size: 22px;
                font-weight: 400;
                line-height: 25.83px;
                text-align: left;
            }
            & ul {
                width: 100%;
                display: flex;
                gap: 32px;
                & li {
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 18px;
                    text-align: left;
                    cursor: pointer;
                    & ion-icon {
                        rotate: -45deg;
                    }
                }
            }
        }
        & > img {
            width: 368px;
            height: 368px;
            border-radius: 50%;
        }
    }
    & #sobre-mim {
        display: flex;
        flex-direction: column;
        padding: 62px 152px;
        gap: 16px;
        background-color: var(--bg-color-2);
        & h2 {
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            text-align: left;
        }
        & p {
            max-width: 80%;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.78px;
            text-align: left;
        }
    }
}
